.App {
  text-align: center;
  padding-top: 30vh;
}

.anecdote {
  font-size: 24px;
  font-weight: bold;
}

button {
  margin-top: 16px;
  background-color: rgb(26, 84, 160);
  padding: 8px 24px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border: 1px solid rgb(8, 8, 66);
  text-transform: uppercase;
  margin-left: 12px;
}